<ion-content padding>
  <ion-label class="lbl_nombre">
    Nombre: {{ usuario[5] }}
  </ion-label>

  <ion-label class="lbl_codigo">
    Código: {{ usuario[4] }}
  </ion-label>

  <h1 class="carrito">
    Carrito
  </h1>

  <ion-scroll scrollY="true" class="compra">
    <ion-list class="list_compra">

      <ion-item *ngFor="let item of itemsPersona |  async">
        <ion-label>{{ item[0] }} {{ item[1] }}</ion-label>
        <ion-checkbox (click)="devolverItem(item)"> </ion-checkbox>
      </ion-item>


    </ion-list>
  </ion-scroll>

  <button ion-button round color="secondary" (click)="elregresodelmachete()" class="btn_devolver">
    Devolver
  </button>

  <button ion-button round color="secondary" (click)="elregresodelmacheteV2()" class="btn_devolverTodo">
    Devolver todo
  </button>

  <h1 class="tienda">
    Tienda
  </h1>
  <ion-scroll scrollY="true" class="inventario">
    <ion-list class="list_inventario">

      <ion-item *ngFor="let item of items |  async">
        <ion-label>{{ item.nombre }}</ion-label>
        <ion-checkbox (click)="agregarCarrito(item.nombre)"></ion-checkbox>
      </ion-item>

    </ion-list>
  </ion-scroll>
  <button ion-button round color="secondary" (click)="machetear()" class="btn_prestar">
    Prestar
  </button>

  <button ion-button round color="danger" (click)="volverInicio()" class="btn_salir">
    Salir
  </button>

</ion-content>