<ion-content padding>
  <!-- {{ usuario }}
  {{ codigoC }} -->
  <ion-list class="list_compra">

    <h1>
      Carrito
    </h1>


      <ion-item *ngFor="let item of itemsPersona |  async" >
        <ion-label>{{ item[0]  }}      {{  item[1] }}</ion-label>
        <ion-checkbox  (click)="devolverItem(item)"> </ion-checkbox>
      </ion-item>
      <button ion-button round color="secondary" (click)="elregresodelmachete()">
        Devolver
      </button>

      <button ion-button round color="secondary" (click)="devolver()">
        Devolver todo
      </button>

      
  

  </ion-list>

  <ion-list class="list_inventario">

    <h1>
      Tienda
    </h1>

    <!-- <ion-select [(ngModel)]="toppings" multiple="true">
      <ion-option>
        {{ item.nombre }}
      </ion-option>
    </ion-select> -->

    <ion-item *ngFor="let item of items |  async" >
      <ion-label>{{ item.nombre }}</ion-label>
      <ion-checkbox (click)="agregarCarrito(item.nombre)"></ion-checkbox>
    </ion-item>
    <button ion-button round color="secondary" (click)="machetear()">
      Prestar
    </button>
    <!-- {{ item.checked }} -->
    <!-- <ion-item *ngFor="let item of items |  async">
      <ion-select > -->
    <!-- <ion-option [(ngModel)]="toppings" multiple="true"> -->
    <!-- {{ item.nombre }}
        <! </ion-option> -->
    <!-- </ion-select>
    </ion-item>  -->

  </ion-list>

  <!-- {{ itemscheck }} -->

</ion-content>