page-administracion {
    .btn_actualizar {
        position: absolute;
        top: 70%;
        left: 41%;
    }
    .lbl_actualizarinfo {
        position: absolute;
        top: 25%;
        left: 41%;
    }
    .informacion {
        position: absolute;
        top: 32%;
        left: 38%;
    }
    .lista_izq {
        position: absolute;
        top: 40%;
        left: 10%;
    }
    .lista_der {
        position: absolute;
        top: 40%;
        right: 10%;
    }
    .btn_guardar {
        position: absolute;
        bottom: 1%;
        right: 1%;
    }
    .btn_salir {
        position: absolute;
        bottom: 1%;
        left: 1%;
    }
}