page-inicio {
    .contenido {
        background-image: url('../assets/imgs/eafit_bg.jpg');
        position: absolute;
    }
    .btn_administracion {
        position: absolute;
        bottom: 1%;
        right: 1%;
    }
    .btn_prestar {
        position: absolute;
        bottom: 1%;
        right: 15%;
    }
}